[submodule "Modules/HBBA/hbba_lite"]
	path = Modules/HBBA/hbba_lite
	url = https://github.com/introlab/hbba_lite.git
[submodule "catkin_ws/src/pseudo_detection/scripts/object_detection_package"]
	path = catkin_ws/src/pseudo_detection/scripts/object_detection_package
	url = https://github.com/PhilV3/yolov7.git
